.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.sui-layout-header{
  padding: 0 !important;
  border-bottom: none !important;
  background: #fcfcfc !important;
}
.sui-layout-sidebar{
  text-align: start !important;
}
.sui-result__title {
  text-align: start !important;
  color: #0d6efd !important;
  font-weight: 600 !important;
}
.sui-result__details{
  text-align: start !important;
}
.real-sui-layout-header{
  padding: 32px 24px;
  border-bottom: 1px solid #eeeeee;
  background-color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
